/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
  }
  
  body {
    background-image: url(./images/sky.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
  }
  
  h1 {
    color: #fff;
    text-align: center;
    font-size: 4rem;
    margin-top: 100px;
  }
  .form {
    display: flex;
    justify-content: center;
  }
  
  .btnDiv {
    display: flex;
    justify-content: center;
    margin: 50px;
  }
  .btn{
    width: 200px;
    font-size: 1.3rem;
    border-radius: 10px;
    border: 1px solid #fff;
    background: rgba(128, 128, 128, 0.499);
    color: #fff;
    cursor: pointer;
    padding: 4px;
    box-shadow:35px 22px 73px 15px #fafafa ;
}

.btn:hover{
  background-color: #dc83dd30;
  color: rgba(0, 0, 0, 0.7);
  scale: 1.1;
  transition: .5s;
}
  
  
  .inputText {
    width: 500px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    outline: none;
    text-align: center;
    border-bottom: 2.3px solid navy;
    font-size: 20px;
  }
  
  .info{
      text-align: center;
      color: #fff;
      margin-top: 20px;
      font-size: 20px;
      font-weight: bold;
  
  }
  
  .info p{
      margin-top: 20px;
  }
  #sicaklik{
      font-size: 5rem;
  }
  
  #hissedilen{
      font-size: 1rem;
  }
  
  .weather-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }